/* line 1, sass/admin-style.scss */
#project-url input, #project-date input {
  width: 100%;
}

/* line 5, sass/admin-style.scss */
.column-featured-image {
  width: 20%;
}
/* line 8, sass/admin-style.scss */
.column-featured-image img {
  max-width: 100%;
  height: auto;
}

/* line 14, sass/admin-style.scss */
.column-key-features {
  width: 30%;
}
