@import url("http://fonts.googleapis.com/css?family=Karla");
/* line 17, sass/_typography.scss */
body {
  font-family: Karla, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.25em;
}

/* line 22, sass/_typography.scss */
strong {
  font-weight: bold;
}

/* line 26, sass/_typography.scss */
p {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;
}

/* line 30, sass/_typography.scss */
a {
  color: #d47612;
  text-decoration: none;
}

/* line 35, sass/_typography.scss */
a:visited {
  color: #434d68;
}

/* line 39, sass/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 43, sass/_typography.scss */
h1 {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;
  font-size: 44px;
  padding-bottom: 7.5px;
  color: #1b1f2a;
  font-weight: bold;
}

/* line 51, sass/_typography.scss */
h2 {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;
  color: #1b1f2a;
  font-size: 28px;
  font-weight: bold;
}

/* line 58, sass/_typography.scss */
h3 {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;
  color: #795e8e;
  font-size: 24px;
}

/* line 64, sass/_typography.scss */
h4 {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;
  font-weight: bold;
  font-size: 20px;
}

/* line 70, sass/_typography.scss */
ul {
  padding: 15px;
}

/* line 74, sass/_typography.scss */
li {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25em;
  list-style-type: square;
  list-style-position: inside;
}

/* line 80, sass/_typography.scss */
blockquote {
  margin-left: 15px;
}
/* line 83, sass/_typography.scss */
blockquote p {
  font-size: 26.56px;
  font-style: italic;
}
/* line 88, sass/_typography.scss */
blockquote p:before {
  content: '“';
}
/* line 91, sass/_typography.scss */
blockquote p:after {
  content: '”';
}

/* line 97, sass/_typography.scss */
form input[type="text"], form input[type="email"], form textarea {
  width: 97%;
  font-size: 20px;
  padding: 1%;
  border: 2px inset;
}
/* line 104, sass/_typography.scss */
form input[type="submit"] {
  font-size: 24px;
}

/* line 109, sass/_typography.scss */
.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}

/* line 114, sass/_typography.scss */
.alignright {
  float: right;
  margin: 0 0 15px 15px;
}

@media all and (max-width: 600px) {
  /* line 120, sass/_typography.scss */
  p {
    word-wrap: break-word;
  }
}
